* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --primary-font-family: "Poppins", sans-serif;
  --light-white: #f5f8fa;
  --gray: #5e6278;
  --gray-1: #e3e3e3;
}
body {
  font-family: var(--primary-font-family);
  font-size: 14px;
}
.wrapper {
  background-image: url("/images/bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.wrapper .logo img {
  max-width: 40%;
}

.wrapper input {
  background-color: var(--light-white);
  border-color: var(--light-white);
  color: var(--gray);
}
.wrapper.submit_btn {
  padding: 15px;
  font-weight: 500;
}
.wrapper .login_with {
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.wrapper .otp_input input {
  width: 14%;
  height: 70px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .wrapper .otp_input input {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .wrapper .otp_input input {
    height: 40px;
  }
}

